@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body { @apply bg-gray-100 text-gray-900; }
}

@layer components {
  .corp-card { @apply bg-white border border-gray-200 rounded-xl shadow-sm; }
}

.ts-wrapper,
.ts-dropdown {
  direction: rtl;
  text-align: right;
  font-family: inherit;
}

.ts-wrapper .ts-control,
.ts-dropdown .option {
  font-family: inherit;
}
